/* reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,500&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

button:hover, footer i:hover {
  transform: translateY(2px); }

.cardDorada, .cardGolden, .cardBelgian, .cardIrish, .cardApa, .cardIpa, .cardDubbel, .cardImperial {
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  background-size: initial;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center; }

/* **************header*********** */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  color: white; }
  header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px; }

.lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 25px; }

.h {
  width: 150px;
  margin: 10px; }

.logo img {
  transition: all 0.3s; }
  .logo img:hover {
    transform: scale(1.2); }

.lista li a {
  color: white;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  padding: 5px; }
  .lista li a:hover {
    background-color: white;
    color: black; }

/* ******main***** */
main {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10% 15%;
  height: 56vh; }

.card {
  width: 45%;
  height: 450px;
  margin: 10px;
  border-radius: 10px;
  animation-name: medioGiro;
  animation-duration: 3s;
  animation-iteration-count: 1; }

.delivery {
  background-image: url(../img/cerveza-1920-2.jpg);
  background-size: cover;
  position: relative; }
  .delivery p {
    color: white;
    padding: 20px 30px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em #222; }
  .delivery button {
    position: absolute;
    bottom: 15px;
    left: 10px; }

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 0 #e5e5e5;
  background-color: #222;
  color: #fff;
  transition: all 0.3; }
  button:hover {
    box-shadow: 0 2px 0 #fff; }

.estilos {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-image: url(../img/16497701494279.jpg);
  background-size: cover;
  padding-top: 20px;
  font-weight: bold; }
  .estilos li {
    font-size: 30px;
    list-style: none;
    padding: 3px 30px;
    text-shadow: 0.05em 0.05em #e5e5e5; }
  .estilos h3 {
    font-size: 40px;
    color: #e5e5e5;
    text-shadow: 0.1em 0.1em #222;
    padding: 3px 15px; }

/* *****Footer***** */
footer {
  background-color: #222;
  height: 250px;
  display: grid;
  align-content: space-around;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1ft);
  grid-template-areas: "footer redes formFooter"; }

.redes {
  grid-area: redes;
  display: flex; }

footer i {
  grid-area: footer;
  color: #fff;
  padding: 15px;
  font-size: 60px; }

.formFooter {
  grid-area: formFooter;
  font-size: 20px;
  color: white; }

.footer li {
  font-size: 18px;
  color: white;
  list-style: none;
  margin: 10px; }

.footer li a {
  display: grid;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin: 10px;
  justify-content: center;
  align-content: center; }

/* *****historia****** */
.mainHistoria {
  background-image: url("/img/Beer - 29506.mp4");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  position: relative; }

h2 {
  font-size: 50px;
  color: white; }

p {
  font-size: 20px;
  color: white; }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; }

/* ***estilos**** */
.tituloEstilos {
  color: #e5e5e5;
  text-shadow: 0.1em 0.1em black;
  font-size: 50px;
  padding: 10px;
  position: absolute;
  top: 20vh; }

.mainEstilos {
  background-image: url("../img/tipos-cerveza-artesana-thegem-blog-default.png");
  background-size: cover; }

.nuestrosEstilos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  text-shadow: 0.1em 0.1em black; }

.infoEstilo {
  display: none;
  margin: 30px;
  color: white;
  text-shadow: 0.1em 0.1em black; }

.cardDorada {
  background-image: url("/img/Dorada.png"); }

section:hover .infoEstilo {
  display: block; }

.cardGolden {
  background-image: url("/img/golden.png");
  background-size: 80%; }

.cardBelgian {
  background-image: url("/img/belgian.png");
  background-size: 220%; }

.cardIrish {
  background-image: url("/img/irish2.png"); }

.cardApa {
  background-image: url("/img/apa2.png");
  background-size: 70%; }

.cardIpa {
  background-image: url("/img/ipa2.png");
  background-size: 130%; }

.cardDubbel {
  background-image: url("/img/dubbel2.png");
  background-size: 200%; }

.cardImperial {
  background-image: url("/img/stout2.png");
  background-size: 70%; }

/******delivery*******/
.mainDelivery {
  background-image: url("../img/la-cerveza-que-representa-a___9tzwwqYTQ_1256x620__1.webp");
  background-size: cover; }

.contenidodelivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contenidodelivery h2 {
    font-size: 50px;
    padding: 10px; }
  .contenidodelivery h3 {
    font-size: 40px;
    padding: 5px; }
  .contenidodelivery h4 {
    font-size: 30px;
    padding-bottom: 100px; }

/******contacto****  */
.mainContacto {
  display: flex;
  justify-content: space-evenly;
  background-image: url("../img/deliveryH.jpg");
  background-size: cover; }

.nombreContacto {
  margin: 10px; }

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 3, 3, 0.6);
  border-radius: 10px;
  color: white; }

#comentario {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  cursor: default;
  margin: 10px; }

.enviar {
  border-radius: 10px;
  border: none;
  transition: all 0.3;
  margin: 15px; }

/* media query para monitor 1440px */
@media screen and (max-width: 1440px) {
  /* INDEX */
  .card {
    height: 300px; }
  /*HISTORIA  */
  .mainHistoria {
    height: 70vh; }
    .mainHistoria p {
      font-size: 15px;
      padding: 15px; }
  /* ESTILOS */
  .nuestrosEstilos h3 {
    font-size: 30px; }
  .nuestrosEstilos li {
    font-size: 25px; }
  /* delivery */
  .contenidodelivery {
    color: white;
    text-shadow: 0.1em 0.1em black; }
  /* media query para mobile 550px  */ }

@media screen and (max-width: 1440px) and (max-width: 550px) {
  /* INDEX */
  /***** heather *****/
  .lista {
    display: flex;
    flex-direction: column;
    list-style: none; }
  /***** main *****/
  .card {
    height: 300px; }
  .delivery p {
    font-size: 30px; }
  .estilos h3, .estilos li {
    font-size: 20px; }
  /**** footer *****/
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1ft);
    grid-template-rows: repeat(3, 1ft);
    grid-template-areas: "footer" "redes" "formFooter";
    height: 50vh; }
  .redes {
    display: flex;
    flex-direction: row; }
  /*HISTORIA*/
  .mainHistoria {
    height: 100vh; }
    .mainHistoria p {
      font-size: 15px;
      padding: 15px; }
  /* ESTILOS */
  .nuestrosEstilos h3 {
    font-size: 40px; }
  /* CONTACTO */
  .mainContacto {
    flex-direction: column;
    height: 80vh; }
  .nombreContacto {
    margin: 20px; } }

@media screen and (max-width: 1440px) {
  /* meia query para mobile 425px */ }

@media screen and (max-width: 1440px) and (max-width: 425px) {
  /* historia */
  .mainHistoria p {
    font-size: 13px;
    padding: 15px; }
  /* contacto */
  .iframe {
    margin: 10px; } }
