/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
// variables

@import './variables/mixins';
@import './variables/extend';
@import './variables/tamanios';

// secciones

@import './secciones/header';
@import './secciones/main';
@import './secciones/footer';
@import './secciones/historia';
@import './secciones/estilos';
@import './secciones/delivery';
@import './secciones/contacto';

/* media query para monitor 1440px */

@media screen and (max-width: $monitor)  {
    /* INDEX */
  
    .card {
      height: 400px;
    }
  
    /*HISTORIA  */
  
    .mainHistoria {
      h2{
        font-size: 40px;
      }
  
      p {
        font-size: 25px;
        padding: 15px;
        width: 70%;
      }
    }
  
    /* ESTILOS */
  
    .nuestrosEstilos {
    li {
        font-size: 25px;
      }
    }
  
  
    @media screen and (max-width: $tablet) {
      /* main */ 
      .card {
        height: 300px;
      }
  
      .delivery p {
        font-size: 30px;
      }
      .ulEstilos{
        padding: 5px;
      }
      .estilos {
        align-items: flex-start;
        
        li {
          font-size: 20px;
          padding: 0;
        }
        h3{
          font-size: 20px;
          padding: 10;
        }
      }
  
    }
  
    /* media query para mobile 550px  */
  
    @media screen and (max-width: $mobileGrande) {
      /* INDEX */
  
      /***** header *****/
      .d-flex{
        flex-direction: column;
      }
      /* main */ 
      .mainInicio{
        flex-direction: column;
      }
      .card {
        height: 300px;
      }
  
      .delivery p {
        font-size: 30px;
      }
  
      .estilos {
        h3, li {
          font-size: 20px;
        }
      }
  
      /**** footer *****/
  
      footer {
        display: grid;
        grid-template-columns: repeat(1, 1ft);
        grid-template-rows: repeat(3, 1ft);
        grid-template-areas: "footer" "redes" "formFooter";
        // height: 50vh;
      }
  
      .redes {
        display: flex;
        flex-direction: row;
      }
  
      /*HISTORIA*/
  
      .parrafoHistoria {
          font-size: 25px;
          padding: 15px;
      }
    
     
  
      /* CONTACTO */
      .iframe {
        margin: 15px;
      }
     
    }
  
    /* meia query para mobile 425px */
    @media screen and (max-width: $mobileChico) {

      /* historia */
  
      .parrafoHistoria {
        font-size: 25px;
        padding: 15px;
      }
   
      /* contacto */
      .iframe {
        margin: 15px;
      }
    }
  }


