/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
// variables

@import './variables/mixins';
@import './variables/extend';
@import './variables/tamanios';

// secciones

@import './secciones/heather';
@import './secciones/main';
@import './secciones/footer';
@import './secciones/historia';
@import './secciones/estilos';
@import './secciones/delivery';
@import './secciones/contacto';

/* media query para monitor 1440px */

@media screen and (max-width: $monitor)  {
    /* INDEX */
  
    .card {
      height: 400px;
    }
  
    /*HISTORIA  */
  
    .mainHistoria {
      h2{
        font-size: 40px;
      }
  
      p {
        font-size: 25px;
        padding: 15px;
      }
    }
  
    /* ESTILOS */
  
    .nuestrosEstilos {
    li {
        font-size: 25px;
      }
    }
  
    /* delivery */
  
    .contenidodelivery {
      color: white;
      text-shadow: 0.1em 0.1em black;
    }
  
    /* media query para mobile 550px  */
  
    @media screen and (max-width: $mobileGrande) {
      /* INDEX */
  
      /***** heather *****/
      .d-flex{
        flex-direction: column;
      }
  
      .lista {
        display: flex;
        flex-direction: column;
        list-style: none;
      }
  
      /***** main *****/
      .mainInicio{
         height: 100%;
      }
  
      .card {
        height: 300px;
      }
  
      .delivery p {
        font-size: 30px;
      }
  
      .estilos {
        h3, li {
          font-size: 20px;
        }
      }
  
      /**** footer *****/
  
      footer {
        display: grid;
        grid-template-columns: repeat(1, 1ft);
        grid-template-rows: repeat(3, 1ft);
        grid-template-areas: "footer" "redes" "formFooter";
        height: 50vh;
      }
  
      .redes {
        display: flex;
        flex-direction: row;
      }
  
      /*HISTORIA*/
  
      .mainHistoria {
        p {
          font-size: 15px;
          padding: 15px;
        }
      }
  
      /* ESTILOS */
  
      .nuestrosEstilos {
        height: 100%;
      }
  
      /* CONTACTO */
      .iframe {
        margin: 15px;
      }
     
    }
  
    /* meia query para mobile 425px */
    @media screen and (max-width: $mobileChico) {

      /* main */ 
      .mainInicio{
        height: 100%;
      }

      /* historia */
  
      .mainHistoria p {
        font-size: 13px;
        padding: 15px;
      }
    /* ESTILOS */
  
    .nuestrosEstilos {
      height: 100%;
    }
      /* contacto */
  
      .iframe {
        margin: 15px;
      }
    }
  }


