%hover {
    transform: translateY(2px);
}

%cardsEstilos{
    width: 200px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-size: initial;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}