
/******delivery*******/

.mainDelivery {
    background-image: url("../img/la-cerveza-que-representa-a___9tzwwqYTQ_1256x620__1.webp");
    background-size: cover;
  }
  
  .contenidodelivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h2 {
      font-size: 50px;
      padding: 10px;
    }
  
    h3 {
      font-size: 40px;
      padding: 5px;
    }
  
    h4 {
      font-size: 30px;
      padding-bottom: 100px;
    }
  }