// ****estilos*****
.mainEstilos {
  background-image: url("../img/tipos-cerveza-artesana-thegem-blog-default.png");
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.nuestrosEstilos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #e5e5e5;
  text-shadow: 0.1em 0.1em black;
}
 
.infoEstilo {
  display: none;
  margin: 20px;
  color: white;
  text-shadow: 0.1em 0.1em black;
}
section:hover .infoEstilo {
  display: block;
}

.cardDorada {
  background-image: url("../img/doradas.png");
  @extend %cardsEstilos;
}

.cardGolden {
  background-image: url("../img/golden.png");
  @extend %cardsEstilos;
  background-size: 80%;
}

.cardBelgian {
  background-image: url("../img/belgian.png");
  @extend %cardsEstilos;
  background-size: 220%;
}

.cardIrish {
  background-image: url("../img/irish.png");
  @extend %cardsEstilos;
}

.cardApa {
  background-image: url("../img/apa.png");
  @extend %cardsEstilos;
  background-size: 70%;
}

.cardIpa {
  background-image: url("../img/ipa.png");
  @extend %cardsEstilos;
  background-size: 130%;
}

.cardDubbel {
  background-image: url("../img/dubbel.png");
  @extend %cardsEstilos;
  background-size: 200%;
}

.cardImperial {
  background-image: url("../img/stout.png");
  @extend %cardsEstilos;
  background-size: 70%;
}