
/* *****Footer***** */

footer {
    background-color: #222;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-areas: "footer redes formFooter";
    margin-top: auto;
  }
  .redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
  }
  footer i {
    grid-area: footer;
    color: #fff;
    padding: 15px;
    font-size: 60px;
  }
  .formFooter {
    grid-area: formFooter;
    font-size: 20px;
    color: white;
  }
  footer i:hover {
    @extend %hover;
  }
  .footer{
    margin-top: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
        li {
    font-size: 18px;
    color: white;
    list-style: none;
    margin-top: 2px;
        }
    
  a {
      display: grid;
      font-size: 18px;
      color: white;
      text-decoration: none;
      justify-content: center;
      align-content: center;
    }
    & a:hover {
      @extend %hover;
    }
  }