@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,500&family=Satisfy&display=swap");

/* **************header*********** */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    color: white;
  
    .logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 25px;
    }
  }
  
  .lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 25px;
  }
  
  .h {
    @include estilo-img (150px, 10px);
  }
  
  .logo img {
    transition: all 0.3s;
  
    &:hover {
      transform: scale(1.2);
    }
  }
  
  .nav-item a:hover {
       background-color: gray;
       color:black;
       border-radius: 10px;
  }
  
 
  